<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Trust Cyclone </h3>
    <ul>
      <li> Unity</li>
      <li> Level Design</li>
    </ul>
    <p>A 2D puzzle platformer without a jump button. Instead, use the wind currents to propel yourself upwards (or downwards). In collaboration with Nico Cobb.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 8 Undecided Voters </h3>
    <ul>
      <li> In-Game Dialogue</li>
      <li> UI Design</li>
    </ul>
    <p>An 8-hour Game Jam winner in collaboration with Justin Buergi, Diana Nagu, William Pheloung, and Eric Walsh. You have 8 weeks to pander to the rest of the PTA board and be elected as the newest PTA president.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
