<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="cyclone" src="{{ "/assets/img/TrustCyclone.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Trust Cyclone </h3>
    <ul>
      <li> Unity2D </li>
      <li> Level Design</li>
    </ul>
    <p>A 2D puzzle platformer without a jump button. Instead, use the wind currents to propel yourself upwards (or downwards). In collaboration with Nico Cobb.</p>
    <a class="project-link" href="https://erfranco.itch.io/trust-cyclone">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/8uv.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 8 Undecided Voters </h3>
    <ul>
      <li> In-Game Dialogue</li>
      <li> UI Design</li>
    </ul>
    <p>An 8-hour Game Jam winner in collaboration with Justin Buergi, Diana Nagu, William Pheloung, and Eric Walsh. You have 8 weeks to pander to the rest of the PTA board and be elected as the newest PTA president.</p>
    <a class="project-link" href="https://keyboardkommander.itch.io/8-undecided-voters">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="anxious" src="{{ "/assets/img/Anxious.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Anxious </h3>
    <ul>
      <li> Unity3D </li>
      <li> VR Prototyping </li>
    </ul>
    <p>A prototype I hope to bring to VR sometime in the future. It showcases the intensity of social anxiety as you walk through a giant crowd of people, hiding out for a chance to calm down. In collaboration with Lillian Hong.</p>
    <a class="project-link" href="https://erfranco.itch.io/anxious">Check it out</a>
  </div>
  <div class="user-projects">
  <div class="images-left">
    <img alt="value" src="{{ "/assets/img/Value.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Value </h3>
    <ul>
      <li> Twine</li>
      <li> Interactive Narrative</li>
    </ul>
    <p>A short, philosophical journey of self-discovery. This reflective piece blends color theory with introspection, and the conflicts that may arise from the uncertainty of one's true self. </p>
    <a class="project-link" href="https://erfranco.itch.io/value">Check it out</a>
  </div>
</div>
